body{
    background-color: #eaece5;
}
#subhead{
    color: c0ded9;
} 
.mainhead{
    color: #b0aac0;
} 
.fontsize{
     font-size: 50px;
} 
.hsize{
    font-size: 40px;
}
.subhsize{
    font-size: 30px;
}
